html
    head
        title= config.pkg.name

        block styles
        block scripts



    body
        block header
        block content
        block footer

        // LiveReload Script
        != LRScript
